.back_panel {
	height: 450px;
	width: 360px;
	background-color: #d0d1d5;
	border-radius: 4px;
	position: relative;
	border: 3px solid;
	border-color: #ec2933;
}

.bot {
	position: absolute;
	bottom: 0px;
	right: 20px;
	z-index: 1;
}

.bot_header {
	width: 100%;
	background-color: #ec2933;
	color: #ffffff;
	height: 50px;
	vertical-align: center;
	position: absolute;
}

.user_field input {
	position: absolute;
	bottom: 10px;
	left: 9px;
	right: 9px;
	width: 88%;
	height: 40px;
	font-size: 18px;
	background-color: white;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}
